

  
<div >
  <div class="card <%=@api_color%> "  style="width: 22rem; height: 22rem">
    <h1 class="card-title"><%= @final_output%></h1>
  <div class="card-body">
  

  The air quality regarding ozone for 
  the zipcode provided is considered: <%=@message%> 

  </div>
</div>
</div>



  
